<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolores
        cumque expedita ad cupiditate recusandae rem dignissimos tempore animi
        voluptates dolorum id eveniet architecto distinctio sunt nulla,
        repellendus tenetur ex!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta porro
        error non aliquam iure dolores cumque quia impedit, harum laudantium quo
        eius nostrum voluptas reiciendis ipsum! Molestias vero in veniam.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
